body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #f3f3f3;
}

#rcorners {
    border-radius: 25px;
    border: 1px solid #73AD21;
    padding: 0.2rem;
    font-size: 0.75rem;
  }