<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spam Email Classifier</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Spam Email Classifier</h1>
    <br>


    <div style="display: flex;  width: 90%; ">
        <div style="width: 60%;  margin: auto;">
            <form action="{{ url_for('predict')}}" method="POST">

                <input type="text" name="email_text" class="form-control" placeholder="Enter your email text" size="50">

                <br />

                <button type="submit" class="btn btn-success">Predict</button><br>

                {% if msg == 1 %}
                <br>
                <h3 style="color:red;">Spam</h3>
                {% elif msg == 0 %}
                <br>
                <h3 style="color:green;">Ham</h3>
                {% endif %}

            </form>
        </div>
        <div style="margin: auto; ">
            <form action="{{ url_for('session')}}" method="POST">

                <input type="text" name="username" class="form-control" placeholder="Username">

                <br />

                <button type="submit" class="btn btn-primary">Login</button>

            </form>
        </div>
    </div>



    <br>
    <table class="table table-bordered"
        style="width: 80%; text-align: justify; text-align: center; vertical-align: middle">
        <thead>
            <tr>
                <th scope="col" style="width:15%">Examples</th>
                <th scope="col">Emails</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">SPAM</th>
                <td>URGENT! You have won a 1 week FREE membership in our $100,000 Prize Jackpot! Txt the word: CLAIM
                    to
                    No: 81010 T&C Send your bank details </td>
            </tr>
            <tr>
                <th scope="row">HAM</th>
                <td>Pls go ahead with watts. I just wanted to be sure. Do have a great weekend. Abiola</td>
            </tr>
            <tr>
                <th scope="row">SPAM</th>
                <td>Your business is greatly appreciated and to show our thanks we would like to simply go to the
                    following website and fill our form out and we will award you a free gift.
                    http://www.protending.com/ebay/
                </td>
            </tr>
            <tr>
                <th scope="row">HAM</th>
                <td>U don't know how stubborn I am. I didn't even want to go to the hospital. I kept telling Mark
                    I'm
                    not a weak sucker. Hospitals are for weak suckers.</td>
            </tr>

        </tbody>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>

</html>