<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask Chat app</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>


  <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>

  <table class="table" style="width: 80%; border-collapse: separate;">
    <thead style="visibility: hidden">
      <tr>
        <th style="width: 15%"></th>
        <th style="width: 5%"></th>
        <th></th>
      </tr>
    </thead>
  </table>



  <form action="" method="POST">
    <!-- <input type="text" id="username" class="form-control" placeholder="User Name" /><br> -->
    <div style="display: flex;">Logged in as : &nbsp;&nbsp;
      <div style="color: rgb(0, 132, 255); margin-bottom: 1rem;">{{ user }}</div>
    </div>
    <input type="text" id="message" name="message" class="form-control" placeholder="Message" /><br>
    <input type="submit" class="btn btn-success" />
  </form>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function () {
      socket.emit('my event', {
        data: 'User Connected'
      })
      var form = $('form').on('submit', function (e) {
        e.preventDefault()
        let user_name = "{{ user }}"
        let user_input = $('input#message').val()
        socket.emit('my event', {
          user_name: user_name,
          message: user_input
        })
        $('input#message').val('').focus()
      })
    })
    socket.on('my response', function (msg) {
      console.log(msg)
      if (typeof msg.user_name !== 'undefined') {
        $('h3').remove()
        let msg_category
        if (msg.category == '0') {
          msg_category = ' <div id="rcorners" style="color: green"> Ham </div>'
        }
        else {
          msg_category = ' <div id="rcorners" style="color: red"> Spam </div>'
        }

        // $('div.message_holder').append('<div><b style="color: blue">' + msg.user_name + '</b> '  + msg_category + msg.message + '</div>')
        $('table.table').append(
          '<tr><td style="color: blue">' + msg.user_name + '</td><td>' + msg_category + '</td><td style="text-align: left;">' + msg.message + '</td></tr>'
        )
      }
    })
  </script>

</body>

</html>